<h1>Calculadora Básica</h1>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <input type="text" [(ngModel)]="display" readonly class="form-control">
      <br>
      <div class="button-row">
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('7')">7</button>
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('8')">8</button>
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('9')">9</button>
        <button class="btn btn-warning btn-lg btn-block col-3" (click)="performOperation('+')">+</button>
      </div>
      <br>
      <div class="button-row">
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('4')">4</button>
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('5')">5</button>
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('6')">6</button>
        <button class="btn btn-warning btn-lg btn-block col-3" (click)="performOperation('-')">-</button>
      </div>
      <br>
      <div class="button-row">
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('1')">1</button>
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('2')">2</button>
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('3')">3</button>
        <button class="btn btn-warning btn-lg btn-block col-3" (click)="performOperation('*')">*</button>
      </div>
      <br>
      <div class="button-row">
        <button class="btn btn-primary btn-lg btn-block col-3" (click)="appendToDisplay('0')">0</button>
        <button class="btn btn-danger btn-lg btn-block col-3" (click)="clearDisplay()">C</button>
        <button class="btn btn-success btn-lg btn-block col-3" (click)="calculateResult()">=</button>
        <button class="btn btn-warning btn-lg btn-block col-3" (click)="performOperation('/')">/</button>
      </div>
    </div>
  </div>
</div>

